/* =============================================
   Alta.css
============================================= */
.alta {
background: linear-gradient(135deg, var(--yellow) 0%, #f0b429 100%);
  padding: 70px 0;
}


.alta-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-left: 10%;
  padding-top: 1%;
}