/* =============================================
   Alta.css
============================================= */
.alta {
  background: var(--yellow);
  padding: 20px 0;
}

.alta-header {
  margin-bottom: 40px;
}

.alta-header h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #111;
}

/* GRID */

.alta-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */

.alta-card {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  cursor: pointer;
  transition: transform 0.25s ease;
  -webkit-animation: fade-in 1s;
          animation: fade-in 1s;
}

.alta-card:hover {
  transform: translateY(-4px);
}

/* IMAGEM */

.alta-image-wrapper {
  position: relative;
  flex-shrink: 0;
}

.alta-image,
.alta-image-placeholder {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  background: #ddd;
}

.alta-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #777;
}

/* BOLINHA */

.alta-dot {
  position: absolute;
  top: 8px;
  right: 2px;

  width: 18px;
  height: 18px;

  background: var(--navy);
  border-radius: 50%;
  border: 3px solid #fff;
}

/* CONTEÚDO */

.alta-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* CATEGORIA */

.alta-categoria {
  display: inline-flex;
  align-self: flex-start;

  background: var(--navy);
  color: white;

  font-size: 0.72rem;
  font-weight: 700;

  text-transform: uppercase;

  padding: 6px 12px;
  border-radius: 2px;

  letter-spacing: 0.5px;

}

/* TÍTULO */

.alta-titulo {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.45rem;
  line-height: 1.35;
  font-weight: 800;
  color: #111;
  margin: 0;

  transition: color 0.2s ease;
}

.alta-card:hover .alta-titulo {
  color: var(--white);
}

/* META */

.alta-meta {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--black);
  font-size: 0.9rem;
  font-weight: 600;
}

.alta-meta i {
  font-size: 0.85rem;
}


/* ANIMAÇÃO */

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* RESPONSIVO */

@media (max-width: 1200px) {
  .alta-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .alta {
    padding: 50px 0;
  }

  .alta-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .alta-card {
    align-items: center;
  }

  .alta-image,
  .alta-image-placeholder {
    width: 90px;
    height: 90px;
  }

  .alta-titulo {
    font-size: 1.1rem;
  }
}