<footer>
  <div class="container">

    <span class="footer-label">Desenvolvimento</span>

    <div class="footer-logos">

      <div class="footer-logo-item">
        <!-- <div class="footer-logo-icon">
          <i class="fas fa-city"></i>
        </div>
        <div class="footer-logo-text">
          <strong>Guarapuava</strong>
          <small>Governo Municipal</small>
        </div> -->
        <img style="width: 240px;" src="{{ url_for('static', filename='images/logo-footer.png') }}" alt="Secretaria de saúde" />
      </div>

      <div class="footer-logo-item">
        <!-- <div class="footer-logo-icon" style="background: var(--teal);">
          <i class="fas fa-heartbeat"></i>
        </div>
        <div class="footer-logo-text">
          <strong>Saúde</strong>
          <small>Secretaria Municipal</small>
        </div> -->
                <img style="width: 240px;" src="{{ url_for('static', filename='images/Hero-page.png') }}" alt="Secretaria de saúde" />
      </div>

    </div>

    <p class="footer-copy">
      © 2026 Secretaria de Saúde de Guarapuava. Todos os direitos reservados.
    </p>

  </div>
</footer>