<footer>
  <div class="container">

    <span class="footer-label">Desenvolvimento</span>
    <div class="footer-grid">
      <div class="footer-logos">
        <div class="footer-logo-item">

          <img style="width: 240px;" src="{{ url_for('static', filename='images/logo-footer.png') }}" alt="Secretaria de saúde" />
        </div>

        <div class="footer-logo-item">

                  <img style="width: 240px;" src="{{ url_for('static', filename='images/Hero-page.png') }}" alt="Secretaria de saúde" />
        </div>

      </div>
      <div class="footer-info">
        <span class="footer-label">Contato</span>
        <p>Secretaria de Saúde de Guarapuava</p>
        <p>Endereço: Rua XV de Novembro, 1234 - Centro, Guarapuava - PR</p>
        <p>Telefone: (42) 1234-5678</p>
      </div>
    </div>


    <p class="footer-copy">
      © 2026 Secretaria de Saúde de Guarapuava. Todos os direitos reservados.
    </p>

  </div>
</footer>