<section class="hero" id="hero">
  <i class="fas fa-plus-square hero-cross"></i>

  <div class="container">

    <div class="hero-text">
      <h1>Seja bem-vindo à Secretaria de Saúde de Guarapuava</h1>
      <a href="#servicos" class="btn-hero">Conheça nossos serviços</a>
    </div>

    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/Hero-page.png') }}" alt="Profissional de saúde" />
      <!-- <div class="hero-placeholder">
        <i class="fas fa-user-nurse"></i>
        <span>Imagem do Hero</span>
      </div> -->
    </div>

  </div>
</section>