<section class="servicos-bar" id="servicos">
  <div class="container">
    <h3>Nossos serviços</h3>

    <div class="servicos-grid">

    
      <div class="servico-item">
        <a href="https://mobile.fastmedic.com.br/cidadao/guarapuava/login" target="_blank">
          <div class="servico-icon">
            <i class="fa-solid fa-user-plus"></i>
          </div>
        </a>
        <span>Portal do cidadão</span>
      </div>

      <div class="servico-item">
        <a href="https://guarapuava.atende.net/autoatendimento/servicos/ouvidoria-municipal/detalhar/1" target="_blank">
          <div class="servico-icon">
            <i class="fa-solid fa-ear-listen"></i>
          </div>
        </a>
        <span>Ouvidoria</span>
      </div>

            <div class="servico-item">
        <a href="https://saudeplantoes.guarapuava.pr.gov.br/public/escalas" target="_blank">
          <div class="servico-icon">
            <i class="fa-solid fa-comment-medical"></i>
          </div>
        </a>
        <span>Plantao</span>
      </div>

      <!-- 

      <div class="servico-item">
        <div class="servico-icon"><a><i class="fa-solid fa-user-plus"></a></div>
        <span>PlantOn</span>
      </div>

      <div class="servico-item">
        <div class="servico-icon"><i class="fas fa-graduation-cap"></i></div>
        <span>Estágios</span>
      </div>

      <div class="servico-item">
        <div class="servico-icon"><i class="fas fa-clipboard-list"></i></div>
        <span>Controle com a Saúde</span>
      </div> -->

    </div>
  </div>
</section>