<section class="sobre" id="sobre">
  <div class="container">

    <div class="sobre-content">
      <h2>Sobre a secretaria</h2>
      <p>
        Guarapuava reforça seu compromisso com a saúde da população por meio de um atendimento
        humano e dedicado. A Secretaria de Saúde oferece serviços especializados, como a Clínica
        da Saúde da Mulher e os CAPS, garantindo cuidado contínuo e acessível a todos os cidadãos.
      </p>

      <h3>Princípios e valores</h3>
      <ul class="valores-lista">
        <li>Cuidado com respeito</li>
        <li>Escuta atenta</li>
        <li>Acolhimento humano</li>
        <li>Compromisso com o bem-estar</li>
      </ul>
      <br>
      <h3>Secretario:</h3>
      <h4 class="secretario">Guto Klosowski</h4>
    </div>

    <!-- Brasão real -->
    <div class="sobre-brasao">
      <img
        src="{{ url_for('static', filename='images/brasao-grande.png') }}"
        alt="Brasão do Município de Guarapuava"
      />
    </div>

  </div>
</section>